.contenedor{
    width: 30vw;
    height: 35vh;
    margin-bottom: 15px;
    position: relative;
    border: 3px solid;
    border-radius: 15px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, .5) ;
    margin: auto;
   
}
.contenedor img{
    width: 100%;
    height: 100%;
    border-radius: 15px;

}
.active{
    text-decoration: none;

}


.interno{

    position: absolute;
    text-align: justify;
    width: 98%;
    bottom: 0;
    margin: auto;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 10px 10px;

    
}
.interno h1{
    color:black;
    margin-left: 0;
    text-align: center;
}
.interno h2{
    color:black;

}

.borrar button{
    font-size: 15px;
    color:black;
}
