.contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}
select{
    width: 130px;
    height: 50px;
    border-radius: 15px;
    margin-right: 15px;
    text-align: center;

}